body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
}

header {
    background-color: #3c76cdda;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: relative;
}

.tabs {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.tab-button {
    background-color: #1350adda;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 10px;
}

.tab-button.active {
    background-color: #13376dda;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

#welcome h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}

#welcome p {
    font-size: 18px;
    color: #555;
    text-align: center;
    margin-bottom: 20px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

section {
    width: 100%;
    margin: 10px 5px;
    padding: 20px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: none;
}

section.active {
    display: block;
}

#product-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.product {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.product img {
    width: 100%;
    height: 100px;
    aspect-ratio: 4 / 3;
    object-fit: contain;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.product:hover {
    transform: scale(1.05);
}

button {
    background-color: #3c76cdda;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #053b8dda;
}

#cart-items {
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background: #f9f9f9;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.cart-item:last-child {
    border-bottom: none;
}

#cart-summary {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px;
    border-top: 1px solid #ddd;
    margin-top: 20px;
}

#cart-summary p {
    margin: 5px 0;
}

.remove {
    background-color: rgb(216, 48, 48);
    color: white;
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.remove:hover {
    background-color: rgb(220, 36, 36);
}

#checkout {
    margin: 20px 0;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 8px;
}

/* Styling footer part */
footer {
    margin: 10px 0;
}

footer div {
    font-size: 0.75em;
    padding: 0 1em;
    text-align: center;
    color: #051d40;
}

footer div a {
    color: #051d40;
    text-decoration: none;
}


@media (min-width: 800px) {
    main {
        flex-direction: row;
        justify-content: space-between;
    }

    #product-list.full-page {
        width: 100%;
    }

    #product-list.half-page,
    #shopping-cart.half-page {
        width: 50%;
    }
}